* {
  margin: 0;
  padding: 0;
}
body {
        padding: 2em;
        font-family: 'Cormorant', serif;
        font-size: 16px;
      }

#bio h2{
  margin-bottom: .5em;
}

p#fulltime-description {
  margin-bottom: 1em
}
#fulltime h4 {
  display: inline-block;
  margin-bottom: .5em;
}
p.date {
  float: right;
}

.section {
  margin-bottom: 1em;
}

footer {
  position: absolute;
  bottom: 2em;
}
