* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  margin: 0 auto;
  padding: 1em;
  font-family: 'Georgia', serif;
  text-align: left;
  font-size: 3.2vw;
  line-height: 7vw;
}
img {
  width: 100%;
  margin-bottom: 1em;
}
h1 {
  margin-bottom: .4em;
}
h2 {
  margin-bottom: 1.8em;
  font-weight: normal;
}
p {
  margin-bottom: 1.5em;
}
#cv {
  margin-bottom: 2em;
}
.organization h4 {
  margin-bottom: 0px;
  font-weight: normal;
  padding-right: .2em;
  display: inline;
}
h4.available {
  font-weight: bold;
}
#otherstuff h4 {
  margin-bottom: 1em;
}
a {
  color: blue;
}
a.visit {
  color: blue;
}
p.date {
  color: #919191;
  display: inline-block;
  margin-bottom: .4em;
}
.section {
  margin-bottom: 1em;
}
footer {
  padding-top: 2em;
}
footer p{
  margin-bottom: 0em;
  line-height: 1.2em;
  font-size: .8em;
}
p#number {
  font-size: 2em;
  margin-bottom: .5em;
  margin-top: .2em;
}
