* {
  margin: 0;
  padding: 0;
}
body {
        padding: 2em;
        font-family: 'Helvetica', serif;
        font-size: 16px;
        color: white;
        background-color: #000000;
        text-align: left;
      }
img {
  max-width: 800px;
  float: left;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1em;
}

a {
  color: white
}
a.visit {
   color: white;
}

#bio h2{
  margin-bottom: .5em;
}

p#fulltime-description {
  margin-bottom: 1em
}
#fulltime h4 {
  display: inline-block;
  margin-bottom: .5em;
}
p.date {
  float: right;
}

.section {
  margin-bottom: 1em;
}

footer {
  display: block;
  font-size: .625em;
  position: absolute;
  bottom: 2em;
}
