* {
  margin: 0;
  padding: 0;
}
.clickable {
  cursor: pointer;
  cursor: hand;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  display: none;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

#header {
  border-bottom: solid 1px #f0f0f0;
  position: fixed;
  width: 100%;
  top:0;
  background-color: #fff;
  z-index:3;
  height: 90px;
}
#logo {
  width: 80px;
  display: inline-block;
  margin: 15px;
  height: 56px;
  background-color: #000;
  position: fixed;
  transition:         all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
#logo img {
  transition:         all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
  width: 81px;
  height: 58px;
  margin-top: -1px;

}
#content {
  min-height: calc(100vh - 570px);
  padding: 120px 30px 20px;
}
#description p{
  color: #777;
  font-size: 22px;
  line-height: 30px;
  margin: 0 0 30px 0;
}
#description a{
  text-decoration: none;
  color: #000;
}
#description a:hover{
  color: #000;
}
#nav_icon_on {
  float: right;
  width: 40px;
  padding: 15px 15px;
  margin: 20px 10px 0 0;
}
#nav_icon_off {
  float: right;
  width: 25px;
  padding: 20px 20px;
  margin: 16px 12px 0 0;
}
#mobile_nav {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #FFF;
}
#regular_nav {
  display:none;
}
ul {
  list-style: none;
}
#mobile_nav ul {
  padding: 35px 75px 25px 30px;
}
#mobile_nav a{
  text-decoration: none;
  font-size: 22px;
  display: block;
  margin: 0 0 20px 0;
}
#mobile_nav a:hover {
  text-decoration: underline;
}
.work_image {
  width: 100%;
}
p.work_title {
  font-size: 18px;
  margin: 10px 0 0 0;
}
p.work_description {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: #777;
}
a.button {
  display: inline-block;
  margin: 0 0 40px 0;
  border: solid 1px;
  border-color: #000;
  border-radius: 50px;
  font-size: 14px;
  padding: 15px 20px;
  line-height: 0;
  font-weight: 500;
  cursor: pointer;
  cursor: hand;
}
a:hover.button {
  border-color: #000;
}
footer {
  text-align: center;
  color: #777;
  padding: 75px 0;
  background-color: #f9f9f9;
  height: 380px;
}
p#footer_header {
  font-size: 22px;
  margin: 0 0 15px 0;
  color: #000;
}
p#footer_description {
  font-size: 20px;
  margin: 0 0 5px 0;
}
p#footer_number {
  font-size: 30px;
  margin: 0 0 10px 0;
  color: #000;
}
p#footer_email a {
  font-size: 16px;
  color: #777;
  display: inline-block;
  margin: 0 0 40px 0;
  color: #000;
  text-decoration: none;
}
p#footer_email a:hover {
  text-decoration: underline;
}
img#instagram, img#twitter {
  width: 55px;
  display: inline;
  margin-right: 5px;
}
img:hover#instagram,img:hover#twitter {
  opacity: .8;
}
img#tiny_logo{
  width: 150px;
  display: block;
  margin: 20px auto 5px;
}
p#copywrite {
  color: #777;
  font-size: 12px;
}
/* Tablet Styles */
@media all and (min-width: 768px){
  #logo {
    width: 149px;
    height: 103px;
    margin: 25px 0 15px 30px;
    top:0;
    position: fixed;
    z-index:2;
  }
  #logo img {
    width: 151px;
    height: 110px;
    margin: -3px 0 0 -1px;
  }
  #header {
    background-color: transparent;
    border:none;
    position:static;
    height: 50px;
  }
  #regular_nav {
    font-size: 18px;
    display: block;
  }
  #regular_nav {
    margin: 50px 0 50px 193px;
    display: block;
  }
  #regular_nav a {
    display: inline;
    padding: 0 0 0 25px;
  }
  #regular_nav li {
    display: inline;
  }
  #nav_icon_on {
    display: none;
  }
  .active_page {
    text-decoration:underline;
  }
  #content {
    max-width: 768px;
    margin: 0px 20px 20px 200px;
    padding: 0px 20px 20px;
  }
  footer {
    text-align: left;
    padding: 50px 0 50px 216px;

  }
  img#tiny_logo {
    margin: 20px 0 5px;
  }
}
/* Desktop Styles */
@media all and (min-width: 1418px){
  #regular_nav {
    position: fixed;
    margin: 50px 30px 0 0;
    right: 0;
    padding: 0;
  }
  #header {
    height: 0;
  }
  #content {
    max-width: 720px;
    padding: 45px 20px 20px;
  }
}
